.admin__dashboard {
  .dashboard-header {
    background: #000 !important;
    .brand-logo {
      height: 35px;
      display: block;
      margin: 5px 0;
    }
  }
  nav.top-menu-wrap ul {
    display: flex;
    margin-left: 35px;
    li {
      width: auto;
      display: block;
    }
  }
}